@use '../style/transitions';

.matero-user-panel {
    padding: 16px 0;
}

.matero-user-panel-avatar {
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
    border-radius: 50rem;
    transition: transitions.swift-ease-out(transform);
    cursor: pointer;
}

.matero-user-panel-name,
.matero-user-panel-email {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: normal;
    max-width: 30ch;
    margin-left: 20px;
    margin-right: 20px;
}

.matero-user-panel-name,
.matero-user-panel-email,
.matero-user-panel-icons {
    opacity: 1;
    transition: transitions.swift-ease-out(opacity);
}

.matero-user-panel-icons {
    white-space: nowrap;

    .mat-icon-button {
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
}
