.mat-form-field-appearance-legacy {
    font-size: 18px;
}

.mat-icon {
    color: black;
    margin-right: 10px;
}

img.mat-card-image {
    height: 250px;
}

.update-photo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}