<form #loginForm="ngForm" (submit)="onSubmit()" class="m-16 form-field-full">
    <div fxLayout="row wrap" fxLayoutGap="8px grid">

        <div fxFlex="50" fxFlex.lt-md="100">
            <mat-form-field>
                <mat-label>{{'login.username' | translate}}</mat-label>
                <input matInput value="{{ user.username }}" disabled>
            </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
            <mat-form-field>
                <mat-label>{{'login.email' | translate}}</mat-label>
                <input matInput value="{{ user.email }}" name="email" [(ngModel)]="user.email"
                    placeholder="{{'login.email' | translate}}">
            </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
            <mat-form-field>
                <mat-label>{{'login.name' | translate}}</mat-label>
                <input matInput value="{{ user.name }}" name="name" [(ngModel)]="user.name"
                    placeholder="{{'login.name' | translate}}">
            </mat-form-field>
        </div>
        
        <div fxFlex="50" fxFlex.lt-md="100">
            <mat-form-field>
                <mat-label>{{'login.permisson' | translate}}</mat-label>
                <input matInput value="{{ user.permission }}" name="permission" [(ngModel)]="user.permission" disabled>
            </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
            <mat-card>
                <img mat-card-image [src]="urlAvatar" alt="avatar"/>
                <mat-card-content>
                    <p fxLayoutAlign="center"> {{'profile.default.image' | translate}} </p>
                  </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
            <input type="file" class="update-photo" (change)="changePhoto($event)" name="avatar" accept="image/*"/>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" class="m-t-8">
                {{'profile.save' | translate}}
            </button>
        </div>
    </div>
</form>