<h1 fxLayoutAlign="center m-t-16"> {{'profile.change_password' | translate}} </h1>
<form class="m-16 form-field-full" [formGroup]="loginForm">
    <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="50" fxFlex.lt-md="100">
            <mat-form-field appearance="outline">
                <mat-label>{{'login.password' | translate}}</mat-label>
                <input matInput placeholder="{{'login.password' | translate}}" type="password"
                    formControlName="password" required>
                <mat-error *ngIf="password?.invalid">
                    <span *ngIf="password?.errors?.required">
                        <strong>{{'login.password.required' | translate}}</strong>
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="50" fxFlex.lt-md="100">
            <mat-form-field appearance="outline">
                <mat-label>{{'profile.confirm_password' | translate}}</mat-label>
                <input matInput placeholder="{{'profile.confirm_password' | translate}}" type="password"
                    formControlName="confirmPassword" required>
                <mat-error *ngIf="confirmPassword?.invalid">
                    <span *ngIf="confirmPassword?.errors?.required">
                        <strong>{{'profile.confirm_password' | translate}}</strong>
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.lt-md="100">
            <button class="w-full" mat-raised-button color="primary"
                [disabled]="(password?.value != confirmPassword?.value) || (password?.value == '' && confirmPassword?.value == '')"
                [loading]="isSubmitting" minlength="6" (click)="onSubmit()">
                <span *ngIf="password?.value != confirmPassword?.value"> {{ 'profile.passwords_not_match' | translate }}</span>
                <span *ngIf="password?.value == confirmPassword?.value"> {{ 'profile.change_password' | translate}}</span>
                <span *ngIf="password?.hasError('minlength')"> {{ 'profile.min_password' | translate}}</span>
            </button>
        </div>
    </div>
</form>